dd,
dt {
  display: inline;
  // margin-left: 10px;
}

dt::before,
dd::after {
  content: " ";
  display: block;
}

dl {
  display: inline;
  margin-bottom: 0;

  &.boxplot {
    font-size: 87.5%;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
}

.number {
  font-size: 87.5%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.highcharts-label {
  pointer-events: all !important;
}

.chart-wrapper {
  position: relative;
  padding: 8px; 
  
  
  .chart-inner {
    border-radius: 6px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 15px #ccc;
  }
}

.highcharts-tooltip {
  & > span {
    cursor: pointer !important;
    & > a {
      pointer-events: all !important;
    }
  }
}